{{ define "main" }}
<section class="si-program-hero" id="program">
  <div class="container">
    <div class="row g-4 align-items-stretch">
      <div class="col-12 col-lg-7">
        <div class="si-program-hero__card si-program-hero__card--text h-100">
          <h2 class="si-program-hero__title">Program</h2>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="si-program-hero__card si-program-hero__card--visual h-100">
          <div class="si-program-hero__visual-wrap">
            <img alt="program Illustration" class="si-program-hero__img"
              src='{{ "assets/img/illustrations/ill-program.png" | relURL }}'>
            </img>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="si-program-banner">
  <img alt="Program Banner" class="si-program-banner__img" loading="lazy"
    src='{{ "assets/img/ui/detail-program.png" | relURL }}' />
</div>
{{ end }}
{{ define "extra_css" }}
<link rel="stylesheet" href='{{ "assets/css/pages/program.css" | relURL }}'>
<link rel="stylesheet" href='{{ "assets/css/pages/detailprogram.css" | relURL }}'>
{{ end }}
{{ define "extra_js" }}
<script src='{{ "assets/js/pages/program.js" | relURL }}'></script>
{{ end }}