{{ define "main" }}
<section class="si-program" id="program">
    <div class="container">
        <h1 class="si-program__title">Program</h1>
        <div class="si-program-hero__crumb">
            <a href='{{ "/" | relURL }}'>Beranda</a>
            <span class="si-program-hero__sep">/</span>
            <span>Program</span>
        </div>
    </div>
</section>

<section class="si-program--list" id="programList">
    <div class="container">
        <div class="row g-4 justify-content-center" id="programGrid">
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="Program 1" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Prakerin +</h3>
                        <p class="si-program-card__desc">
                            Prakerin + merupakan program praktek belajar langsung di lingkungan pekerjaan bidang IT baik administrasi jaringan, server, hingga pengembangan aplikasi
                        </p>
                        <a class="si-program-card__link" href='{{ "/detailprogram1/" | relURL }}'>Baca
                            Selengkapnya...</a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="Program 2" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Website Gratis</h3>
                        <p class="si-program-card__desc">Untuk mendukung ekosistem digital terutama di bidang pendidikan, Smart Inovasi menyediakan program layanan pembuatan website gratis...
                        </p>
                        <a class="si-program-card__link" href='{{ "/detailprogram2/" | relURL }}'>Baca
                            Selengkapnya...</a>
                    </div>
                </article>
            </div>
        </div>
        <!-- Pagination mount -->
        <nav aria-label="program pagination" class="si-pagination" id="programPagination"></nav>
    </div>
</section>
{{ end }}
{{ define "extra_css" }}
<link rel="stylesheet" href='{{ "assets/css/pages/program.css" | relURL }}'>
{{ end }}
{{ define "extra_js" }}
<script src='{{ "assets/js/pages/program.js" | relURL }}'></script>
{{ end }}