{{ define "main" }}
<section class="si-program-hero" id="program">
    <div class="container">
        <div class="row g-4 align-items-stretch">
            <div class="col-12 col-lg-7">
                <div class="si-program-hero__card si-program-hero__card--text h-100">
                    <h2 class="si-program-hero__title">Program</h2>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="si-program-hero__card si-program-hero__card--visual h-100">
                    <div class="si-program-hero__visual-wrap">
                        <img alt="program Illustration" class="si-program-hero__img"
                            src='{{ "assets/img/illustrations/ill-program.png" | relURL }}'>
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="si-program si-program--list" id="programList">
    <div class="container">
        <div class="row g-4 justify-content-center" id="programGrid">
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 1" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 1</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 2" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 2</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 3" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 3</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 4" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 4</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 5" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 5</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 6" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 6</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 7" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 7</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 8" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 8</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 9" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 9</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 10" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 10</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 11" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 11</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 12" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 12</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 13" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 13</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 14" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 14</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 15" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 15</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 16" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 16</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 17" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 17</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 18" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 18</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 19" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 19</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 20" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 20</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 21" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 21</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 22" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 22</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 23" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 23</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 24" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 24</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 25" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 25</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 26" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 26</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 27" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 27</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 28" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 28</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 29" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 29</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 30" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 30</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 31" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 31</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-program-card h-100">
                    <div class="si-program-card__thumb">
                        <img alt="program 32" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-program-card__body">
                        <h3 class="si-program-card__title">Program 32</h3>
                        <p class="si-program-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-program-card__link" href="detailprogram.html">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <!-- Pagination mount -->
        <nav aria-label="program pagination" class="si-pagination" id="programPagination"></nav>
    </div>
</section>
{{ end }}
{{ define "extra_css" }}
<link rel="stylesheet" href='{{ "assets/css/pages/program.css" | relURL }}'>
{{ end }}
{{ define "extra_js" }}
<script src='{{ "assets/js/pages/program.js" | relURL }}'></script>
{{ end }}