{{ define "main" }}
<section class="si-services-hero" id="services">
    <div class="container">
        <div class="row g-4 align-items-stretch">
            <div class="col-12 col-lg-7">
                <div class="si-services-hero__card si-services-hero__card--text h-100">
                    <h2 class="si-services-hero__title">Services</h2>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="si-services-hero__card si-services-hero__card--visual h-100">
                    <div class="si-services-hero__visual-wrap">
                        <img alt="services Illustration" class="si-services-hero__img"
                            src='{{ "assets/img/illustrations/ill-services.png" | relURL }}'>
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="si-services si-services--list" id="servicesList">
    <div class="container">
        <div class="row g-4 justify-content-center" id="servicesGrid">
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 1" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 1</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 2" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 2</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 3" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 3</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 4" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 4</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 5" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 5</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 6" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 6</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 7" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 7</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 8" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 8</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 9" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 9</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 10" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 10</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 11" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 11</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 12" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 12</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 13" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 13</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 14" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 14</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 15" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 15</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 16" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 16</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 17" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 17</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 18" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 18</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 19" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 19</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 20" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 20</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 21" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 21</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 22" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 22</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 23" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 23</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 24" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 24</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 25" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 25</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 26" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 26</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 27" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 27</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 28" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 28</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 29" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 29</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 30" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 30</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 31" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 31</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 32" src='{{ "assets/img/ui/card-image.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Services 32</h3>
                        <p class="si-services-card__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                        <a class="si-services-card__link" href="#">
                            Read More <span aria-hidden="true">→</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <!-- Pagination mount -->
        <nav aria-label="services pagination" class="si-pagination" id="servicesPagination"></nav>
    </div>
</section>
{{ end }}
{{ define "extra_css" }}
<link rel="stylesheet" href='{{ "assets/css/pages/services.css" | relURL }}'>
{{ end }}
{{ define "extra_js" }}
<script src='{{ "assets/js/pages/services.js" | relURL }}'></script>
{{ end }}