{{ define "main" }}
<section class="si-services" id="services">
    <div class="container">
        <h1 class="si-services__title">Layanan</h1>
        <div class="si-services-hero__crumb">
            <a href='{{ "/" | relURL }}'>Beranda</a>
            <span class="si-services-hero__sep">/</span>
            <span>Layanan</span>
        </div>
    </div>
</section>

<section class="si-services--list" id="servicesList">
    <div class="container">
        <div class="row g-4 justify-content-center" id="servicesGrid">
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 1" src='{{ "assets/img/services/elearning.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">E-Learning Berbasis Moodle</h3>
                        <p class="si-services-card__desc">
                            Moodle merupakan platform yang dibuat khusus sebagai sistem manajemen pembelajaran, bersifat
                            web-based sehingga seluruh kegiatan belajar mengajar dilakukan dengan mengakses website
                            menggunakan browser.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 2" src='{{ "assets/img/services/ecommerce.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Solusi E-commerce untuk UKM (Web Profile + Aplikasi Android)
                        </h3>
                        <p class="si-services-card__desc">
                            Solusi yang tepat bagi anda yang membutuhkan website dalam memperkenalkan usaha atau produk
                            ditambah aplikasi android yang akan memudahkan client dalam melakukan pemesanan produk dan
                            pembayaran secara online.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 3" src='{{ "assets/img/services/profile.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Pembuatan Web Profile</h3>
                        <p class="si-services-card__desc">
                            Web Profile adalah Solusi yang tepat bagi instansi atau usaha anda untuk memperkenalkan
                            identitas, publikasi informasi dan meningkatkan brand atau kepercayaan pelanggan di internet
                            selain dari sosial media seperti Facebook, Instagram, Youtube, dan Sosial media lain nya.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 4" src='{{ "assets/img/services/cms.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Content Management System untuk Pendidikan</h3>
                        <p class="si-services-card__desc">
                            Merupakan solusi yang tepat untuk perguruan tinggi dan sekolah dalam mengimplementasikan web
                            dan aplikasi pembelajaran dengan efektif dan efisien, menghemat biaya dan tanpa membutuhkan
                            tenaga IT yang Expert
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 5" src='{{ "assets/img/services/app.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">Pembuatan Aplikasi Web/Android</h3>
                        <p class="si-services-card__desc">
                            Melayani perancangan hingga pembuatan aplikasi berbasis web dan android/iOS serta Website
                            profil untuk perusahaan, instansi negeri hingga sekolah atau perguruan tinggi sesuai
                            kebutuhan.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <article class="si-services-card h-100">
                    <div class="si-services-card__thumb">
                        <img alt="services 6" src='{{ "assets/img/services/it.png" | relURL }}' />
                    </div>
                    <div class="si-services-card__body">
                        <h3 class="si-services-card__title">IT Training</h3>
                        <p class="si-services-card__desc">
                            Merupakan Layanan dari Smart Inovasi berupa pelatihan atau training privat dan non privat
                            (Kelas) untuk pengembangan Sumber daya manusia dalam menguasai skill di era digital sehingga
                            mampu bersaing di dunia kerja maupun dunia usaha.
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <!-- Pagination mount -->
        <nav aria-label="services pagination" class="si-pagination" id="servicesPagination"></nav>
    </div>
</section>
{{ end }}
{{ define "extra_css" }}
<link rel="stylesheet" href='{{ "assets/css/pages/services.css" | relURL }}'>
{{ end }}
{{ define "extra_js" }}
<script src='{{ "assets/js/pages/services.js" | relURL }}'></script>
{{ end }}