{{ define "main" }}
<section class="si-team" id="team">
    <div class="container">
        <h1 class="si-team__title">Tim</h1>
        <div class="si-team-hero__crumb">
            <a href='{{ "/" | relURL }}'>Beranda</a>
            <span class="si-team-hero__sep">/</span>
            <span>Tim</span>
        </div>
    </div>
</section>

<section class="si-people" id="team">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-md-6">
                <article class="si-people-card">
                    <div class="si-people-card__photo">
                        <img alt="Profile" src='{{ "assets/img/profile/advisor.png" | relURL }}' />
                    </div>
                    <div class="si-people-card__body">
                        <h3 class="si-people-card__name">Suryadi Syamsu</h3>
                        <p class="si-people-card__role">Executive Advisor</p>
                        <p class="si-people-card__desc">
                            Memberikan arahan strategis dan pengawasan bisnis.
                        </p>
                        <div class="si-people-card__social">
                            <a aria-label="LinkedIn" class="si-people-card__icon" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a aria-label="X / Twitter" class="si-people-card__icon" href="#">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a aria-label="Email" class="si-people-card__icon" href="#">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-6">
                <article class="si-people-card">
                    <div class="si-people-card__photo">
                        <img alt="Profile" src='{{ "assets/img/profile/ceo.png" | relURL }}' />
                    </div>
                    <div class="si-people-card__body">
                        <h3 class="si-people-card__name">Muh. Awaluddin</h3>
                        <p class="si-people-card__role">Chief Executive Officer</p>
                        <p class="si-people-card__desc">
                            Mengatur visi, strategi, dan arah perusahaan.
                        </p>
                        <div class="si-people-card__social">
                            <a aria-label="LinkedIn" class="si-people-card__icon" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a aria-label="X / Twitter" class="si-people-card__icon" href="#">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a aria-label="Email" class="si-people-card__icon" href="#">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-6">
                <article class="si-people-card">
                    <div class="si-people-card__photo">
                        <img alt="Profile" src='{{ "assets/img/profile/lead-dev.png" | relURL }}' />
                    </div>
                    <div class="si-people-card__body">
                        <h3 class="si-people-card__name">Caesar Ali L</h3>
                        <p class="si-people-card__role">Lead Developer</p>
                        <p class="si-people-card__desc">
                            Menangani arsitektur sistem dan kualitas kode.
                        </p>
                        <div class="si-people-card__social">
                            <a aria-label="LinkedIn" class="si-people-card__icon" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a aria-label="X / Twitter" class="si-people-card__icon" href="#">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a aria-label="Email" class="si-people-card__icon" href="#">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-6">
                <article class="si-people-card">
                    <div class="si-people-card__photo">
                        <img alt="Profile" src='{{ "assets/img/profile/web-dev.png" | relURL }}' />
                    </div>
                    <div class="si-people-card__body">
                        <h3 class="si-people-card__name">Surya Wana Bakti</h3>
                        <p class="si-people-card__role">Web Developer</p>
                        <p class="si-people-card__desc">
                            Mengembangkan dan memelihara aplikasi web.
                        </p>
                        <div class="si-people-card__social">
                            <a aria-label="LinkedIn" class="si-people-card__icon" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a aria-label="X / Twitter" class="si-people-card__icon" href="#">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a aria-label="Email" class="si-people-card__icon" href="#">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-6">
                <article class="si-people-card">
                    <div class="si-people-card__photo">
                        <img alt="Profile" src='{{ "assets/img/profile/mob-dev.png" | relURL }}' />
                    </div>
                    <div class="si-people-card__body">
                        <h3 class="si-people-card__name">Aldiansyah Fahmi</h3>
                        <p class="si-people-card__role">Mobile Developer</p>
                        <p class="si-people-card__desc">
                            Mengembangkan dan mengoptimalkan aplikasi mobile.
                        </p>
                        <div class="si-people-card__social">
                            <a aria-label="LinkedIn" class="si-people-card__icon" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a aria-label="X / Twitter" class="si-people-card__icon" href="#">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a aria-label="Email" class="si-people-card__icon" href="#">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-6">
                <article class="si-people-card">
                    <div class="si-people-card__photo">
                        <img alt="Profile" src='{{ "assets/img/profile/support.png" | relURL }}' />
                    </div>
                    <div class="si-people-card__body">
                        <h3 class="si-people-card__name">Aimar Syabri</h3>
                        <p class="si-people-card__role">Technical Support</p>
                        <p class="si-people-card__desc">
                            Menangani dukungan teknis dan pemeliharaan sistem.
                        </p>
                        <div class="si-people-card__social">
                            <a aria-label="LinkedIn" class="si-people-card__icon" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a aria-label="X / Twitter" class="si-people-card__icon" href="#">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a aria-label="Email" class="si-people-card__icon" href="#">
                                <i class="bi bi-envelope-fill"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ define "extra_css" }}
<link rel="stylesheet" href='{{ "assets/css/pages/team.css" | relURL }}'>
{{ end }}